<div class="info-container">
    <h1>Our mission:</h1>
    <p>Welcome to Sam and Friends, a non-profit organization dedicated to providing aid and support to orphans around the world. At Sam and Friends, our mission is to offer a helping hand and a brighter future for these children in need. We understand the challenges and hardships that orphans face, and that's why we focus on providing essential support such as toys, housing, and general care to improve their standard of living. Our commitment extends beyond mere assistance; we aim to create a nurturing environment that fosters growth, stability, and happiness for each child under our care.</p>
    <p>Driven by compassion and a belief in the power of collective support, Sam and Friends is committed to making a meaningful difference in the lives of orphans. Through our dedicated team and the generosity of our supporters, we strive to create a positive impact, one child at a time. By offering not just material aid but also emotional support and a sense of belonging, we aim to empower these children to build a better future and realize their full potential. Join us in our endeavor to bring smiles, hope, and opportunities to orphans, creating a world where every child feels valued and cherished. Together, we can make a lasting difference in their lives.
    </p>
</div>
<div class="buttons">
    <button type="button" (click)="goBack()">Go Back</button>
</div>

